@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lexend:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8f9ff;
    --surface: #ffffff;
    --surface-dim: #cbdbf5;
    --primary: #4F46E5;
    --primary-hover: #3b34b9;
    --secondary: #10B981;
    --text-main: #0b1c30;
    --text-muted: #464555;
    --border-light: #F1F5F9;
  }
  body {
    background-color: var(--background);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lexend', sans-serif;
  }
}
