fastapi
uvicorn
llama-index
llama-index-llms-openai
llama-index-embeddings-openai
pydantic-settings
pydantic[email]
psycopg2-binary
pgvector
beautifulsoup4
openai
alembic
sqlalchemy
arq
redis
pyjwt
pwdlib[argon2]
tavily-python
PyPDF2
python-multipart